In [1]:
import numpy as np
import pandas as pd

In [110]:
deliveries = pd.read_csv('deliverywise_data.csv')

In [111]:
deliveries.shape

(701856, 21)

In [112]:
deliveries.sample(10)

,match_id,innings_number,batting_team,bowling_team,over_number,ball_number,batter,bowler,non_striker,wide_runs,...,bye_runs,no_ball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_type,fielder_name,match_number
516098,1442739,1,Nigeria,Kenya,9,5,Sulaimon Runsewe,SO Ngoche,O Olaleye,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2273
352446,1339210,1,Italy,Spain,14,3,Anik Ahmed,Yasir Ali,M Campopiano,0,...,0,0,0,0,1,1,NaN,NaN,NaN,1536
359529,1343763,1,Mali,Rwanda,4,4,L Berthe,E Sebareme,S Kamate,0,...,0,0,0,0,0,0,NaN,NaN,NaN,1573
622768,1490885,2,Austria,Hungary,6,2,Razmal Shigiwal,Muhammad Burhan,Karanbir Singh,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2756
679942,1506445,1,Cyprus,Bulgaria,6,5,R Mazumder,P Mishra,AA Senn,0,...,0,0,0,1,0,1,NaN,NaN,NaN,3009
10575,298795,2,South Africa,New Zealand,6,1,JP Duminy,DL Vettori,AB de Villiers,0,...,0,0,0,1,0,1,NaN,NaN,NaN,45
177477,1199531,1,Namibia,Kenya,12,1,MG Erasmus,CO Obuya,SJ Baard,0,...,0,0,0,1,0,1,NaN,NaN,NaN,775
300046,1322001,1,Thailand,Malaysia,7,2,Vichanath Singh,Syazrul Idrus,P Suanchuai,0,...,0,0,0,0,0,0,NaN,NaN,NaN,1310
467436,1425111,1,Malaysia,Papua New Guinea,9,6,Virandeep Singh,J Kariko,Syed Aziz,2,...,0,0,0,0,2,2,NaN,NaN,NaN,2058
531922,1447488,2,Singapore,Malaysia,3,2,A Mutreja,Pavandeep Singh,Aritra Dutta,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2344

In [113]:
deliveries.columns

Index(['match_id', 'innings_number', 'batting_team', 'bowling_team',
       'over_number', 'ball_number', 'batter', 'bowler', 'non_striker',
       'wide_runs', 'leg_bye_runs', 'bye_runs', 'no_ball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_type', 'fielder_name', 'match_number'],
      dtype='object')

In [114]:
deliveries = deliveries[['match_id', 'innings_number', 'batting_team', 'bowling_team',
       'over_number', 'ball_number', 'total_runs', 'player_dismissed']]

In [115]:
deliveries.shape

(701856, 8)

In [116]:
deliveries['batting_team'].unique()

array(['Australia', 'New Zealand', 'England', 'South Africa',
       'West Indies', 'Sri Lanka', 'Pakistan', 'India', 'Kenya',
       'Bangladesh', 'Scotland', 'Zimbabwe', 'Bermuda', 'Ireland',
       'Netherlands', 'Canada', 'Nepal', 'Hong Kong',
       'United Arab Emirates', 'Papua New Guinea', 'Oman', 'ICC World XI',
       'United States of America', 'Philippines', 'Vanuatu', 'Ghana',
       'Namibia', 'Uganda', 'Botswana', 'Nigeria', 'Germany', 'Italy',
       'Guernsey', 'Jersey', 'Denmark', 'Norway', 'Thailand', 'Malaysia',
       'Maldives', 'Singapore', 'Qatar', 'Kuwait', 'Cayman Islands',
       'Portugal', 'Spain', 'Gibraltar', 'Bhutan', 'Saudi Arabia',
       'Bahrain', 'Iran', 'Isle of Man', 'Belgium', 'Luxembourg',
       'Czech Republic', 'Bulgaria', 'Romania', 'Austria', 'Greece',
       'Serbia', 'Malta', 'France', 'Sweden', 'Rwanda', 'Finland',
       'Hungary', 'Estonia', 'Cyprus', 'Seychelles', 'Malawi', 'Lesotho',
       'Swaziland', 'Sierra Leone', 'Switzerland', 'Tanzania',
       'Mozambique', 'Cameroon', 'Belize', 'Bahamas', 'Argentina',
       'Panama', 'Israel', 'Turkey', 'Croatia', 'Slovenia',
       'Cook Islands', 'Fiji', 'Samoa', 'Japan', 'Indonesia',
       'South Korea', 'Mali', 'St Helena', 'Gambia', 'Eswatini', 'China',
       'Myanmar', 'Mongolia', 'Chile', 'Mexico', 'Cambodia', 'Costa Rica',
       'Brazil', 'Ivory Coast', 'Suriname', 'Turks and Caicos Island',
       'Timor-Leste', 'Zambia'], dtype=object)

In [117]:
teams = ['Australia', 'New Zealand', 'England', 'South Africa',
       'West Indies', 'Sri Lanka', 'Pakistan', 'India',
       'Bangladesh', 'Afghanistan','Scotland', 'Canada', 'Zimbabwe',  'Ireland',
       'Netherlands', 'Nepal',
       'United Arab Emirates',  'Oman',
       'Namibia', 'Italy' ]

In [118]:
deliveries = deliveries[deliveries['batting_team'].isin(teams)]
deliveries = deliveries[deliveries['bowling_team'].isin(teams)]

In [119]:
deliveries = deliveries[deliveries['innings_number'].isin([1])]

In [120]:
deliveries.shape

(162595, 8)

In [121]:
deliveries.sample(5)

,match_id,innings_number,batting_team,bowling_team,over_number,ball_number,total_runs,player_dismissed
68805,660223,1,Scotland,Netherlands,18,1,4,NaN
644906,1478871,1,New Zealand,South Africa,2,6,4,NaN
2437,251488,1,Sri Lanka,New Zealand,17,2,1,NaN
41638,531982,1,West Indies,Bangladesh,12,3,1,NaN
134071,1142916,1,Zimbabwe,Pakistan,4,1,4,NaN

In [122]:
deliveries['current_score'] = deliveries.groupby('match_id')['total_runs'].cumsum()

In [123]:
deliveries.head()

,match_id,innings_number,batting_team,bowling_team,over_number,ball_number,total_runs,player_dismissed,current_score
0,211048,1,Australia,New Zealand,0,1,1,NaN,1
1,211048,1,Australia,New Zealand,0,2,1,NaN,2
2,211048,1,Australia,New Zealand,0,3,0,NaN,2
3,211048,1,Australia,New Zealand,0,4,1,NaN,3
4,211048,1,Australia,New Zealand,0,5,1,NaN,4

In [124]:
deliveries['balls_bowled'] =(deliveries['over_number'].astype('int')*6) + deliveries['ball_number'].astype('int')
deliveries['balls_left'] = 120 - (deliveries['balls_bowled'])

In [125]:
deliveries['balls_left'] = deliveries['balls_left'].apply(lambda x:0 if x<0 else x)

In [126]:
deliveries['player_dismissed'] = deliveries['player_dismissed'].notna().astype(int)

In [127]:
deliveries.sample(10)

,match_id,innings_number,batting_team,bowling_team,over_number,ball_number,total_runs,player_dismissed,current_score,balls_bowled,balls_left
76389,682937,1,South Africa,Netherlands,5,1,0,0,46,31,89
20591,356007,1,South Africa,West Indies,18,4,2,0,170,112,8
532743,1440464,1,Australia,Scotland,16,5,1,0,160,101,19
137420,1157373,1,Pakistan,Australia,5,3,1,0,44,33,87
543883,1439893,1,Bangladesh,India,4,3,4,0,32,27,93
43489,518954,1,Australia,India,4,2,0,0,41,26,94
93425,914219,1,Sri Lanka,New Zealand,4,3,2,0,27,27,93
63243,623572,1,Bangladesh,Zimbabwe,13,1,1,0,115,79,41
88360,860281,1,Sri Lanka,Pakistan,11,6,1,0,88,72,48
657048,1498664,1,Bangladesh,Netherlands,3,6,1,0,50,24,96

In [128]:
deliveries['wicket_fall'] = deliveries.groupby('match_id')['player_dismissed'].cumsum()
deliveries['wicket_left'] = (10 - deliveries['wicket_fall'])

In [129]:
deliveries

,match_id,innings_number,batting_team,bowling_team,over_number,ball_number,total_runs,player_dismissed,current_score,balls_bowled,balls_left,wicket_fall,wicket_left
0,211048,1,Australia,New Zealand,0,1,1,0,1,1,119,0,10
1,211048,1,Australia,New Zealand,0,2,1,0,2,2,118,0,10
2,211048,1,Australia,New Zealand,0,3,0,0,2,3,117,0,10
3,211048,1,Australia,New Zealand,0,4,1,0,3,4,116,0,10
4,211048,1,Australia,New Zealand,0,5,1,0,4,5,115,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
701748,1514480,1,Sri Lanka,Pakistan,18,4,0,0,128,112,8,9,1
701749,1514480,1,Sri Lanka,Pakistan,18,5,0,0,128,113,7,9,1
701750,1514480,1,Sri Lanka,Pakistan,18,6,0,0,128,114,6,9,1
701751,1514480,1,Sri Lanka,Pakistan,19,1,0,0,128,115,5,9,1
701752,1514480,1,Sri Lanka,Pakistan,19,2,0,1,128,116,4,10,0

In [130]:
deliveries['CRR'] = (deliveries['current_score']*6)/deliveries['balls_bowled']

In [131]:
deliveries.sample(5)

,match_id,innings_number,batting_team,bowling_team,over_number,ball_number,total_runs,player_dismissed,current_score,balls_bowled,balls_left,wicket_fall,wicket_left,CRR
163366,1200426,1,Scotland,Ireland,6,7,1,0,59,43,77,3,7,8.232558
337539,1327233,1,Pakistan,England,5,3,0,0,35,33,87,2,8,6.363636
52437,533273,1,Ireland,Australia,16,1,0,0,91,97,23,6,4,5.628866
128231,1133818,1,Bangladesh,India,13,5,1,0,94,83,37,4,6,6.795181
56786,533295,1,India,South Africa,7,3,0,0,46,45,75,3,7,6.133333

In [132]:
# Ensure correct sort
deliveries = deliveries.sort_values(['match_id','over_number','ball_number']).copy()

# Compute rolling sum of last 30 balls per match (5 overs)
deliveries['last_5'] = (
    deliveries.groupby('match_id')['total_runs']
    .rolling(window=30, min_periods=1)  # last 30 balls (5 overs)
    .sum()
    .reset_index(level=0, drop=True)
)

# Set last_5 = 0 if over_number < 5
deliveries.loc[deliveries['over_number'] < 5, 'last_5'] = 0

In [133]:
deliveries

,match_id,innings_number,batting_team,bowling_team,over_number,ball_number,total_runs,player_dismissed,current_score,balls_bowled,balls_left,wicket_fall,wicket_left,CRR,last_5
245,211028,1,England,Australia,0,1,0,0,0,1,119,0,10,0.000000,0.0
246,211028,1,England,Australia,0,2,1,0,1,2,118,0,10,3.000000,0.0
247,211028,1,England,Australia,0,3,0,0,1,3,117,0,10,2.000000,0.0
248,211028,1,England,Australia,0,4,0,0,1,4,116,0,10,1.500000,0.0
249,211028,1,England,Australia,0,5,0,0,1,5,115,0,10,1.200000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701748,1514480,1,Sri Lanka,Pakistan,18,4,0,0,128,112,8,9,1,6.857143,40.0
701749,1514480,1,Sri Lanka,Pakistan,18,5,0,0,128,113,7,9,1,6.796460,40.0
701750,1514480,1,Sri Lanka,Pakistan,18,6,0,0,128,114,6,9,1,6.736842,38.0
701751,1514480,1,Sri Lanka,Pakistan,19,1,0,0,128,115,5,9,1,6.678261,34.0
701752,1514480,1,Sri Lanka,Pakistan,19,2,0,1,128,116,4,10,0,6.620690,30.0

In [134]:
deliveries['total_score'] = deliveries.groupby('match_id')['total_runs'].transform('sum')

In [135]:
deliveries

,match_id,innings_number,batting_team,bowling_team,over_number,ball_number,total_runs,player_dismissed,current_score,balls_bowled,balls_left,wicket_fall,wicket_left,CRR,last_5,total_score
245,211028,1,England,Australia,0,1,0,0,0,1,119,0,10,0.000000,0.0,179
246,211028,1,England,Australia,0,2,1,0,1,2,118,0,10,3.000000,0.0,179
247,211028,1,England,Australia,0,3,0,0,1,3,117,0,10,2.000000,0.0,179
248,211028,1,England,Australia,0,4,0,0,1,4,116,0,10,1.500000,0.0,179
249,211028,1,England,Australia,0,5,0,0,1,5,115,0,10,1.200000,0.0,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701748,1514480,1,Sri Lanka,Pakistan,18,4,0,0,128,112,8,9,1,6.857143,40.0,128
701749,1514480,1,Sri Lanka,Pakistan,18,5,0,0,128,113,7,9,1,6.796460,40.0,128
701750,1514480,1,Sri Lanka,Pakistan,18,6,0,0,128,114,6,9,1,6.736842,38.0,128
701751,1514480,1,Sri Lanka,Pakistan,19,1,0,0,128,115,5,9,1,6.678261,34.0,128
701752,1514480,1,Sri Lanka,Pakistan,19,2,0,1,128,116,4,10,0,6.620690,30.0,128

In [136]:
deliveries.describe()

,match_id,innings_number,over_number,ball_number,total_runs,player_dismissed,current_score,balls_bowled,balls_left,wicket_fall,wicket_left,CRR,last_5,total_score
count,1.625950e+05,162595.0,162595.000000,162595.000000,162595.000000,162595.000000,162595.000000,162595.000000,162595.000000,162595.000000,162595.000000,162595.000000,162595.000000,162595.000000
mean,1.070701e+06,1.0,9.359384,3.631126,1.304118,0.054411,76.195067,59.787429,60.215302,2.707267,7.292733,7.376794,28.792730,160.005750
std,3.758766e+05,0.0,5.759578,1.817428,1.594361,0.226828,50.343846,34.612832,34.608024,2.172669,2.172669,2.381272,19.869644,35.624888
min,2.110280e+05,1.0,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
25%,7.360630e+05,1.0,4.000000,2.000000,0.000000,0.000000,35.000000,30.000000,30.000000,1.000000,6.000000,6.000000,0.000000,136.000000
50%,1.202244e+06,1.0,9.000000,4.000000,1.000000,0.000000,71.000000,59.000000,61.000000,2.000000,8.000000,7.375000,33.000000,160.000000
75%,1.355722e+06,1.0,14.000000,5.000000,1.000000,0.000000,112.000000,90.000000,90.000000,4.000000,9.000000,8.712686,43.000000,183.000000
max,1.514480e+06,1.0,19.000000,13.000000,7.000000,1.000000,304.000000,124.000000,119.000000,10.000000,10.000000,42.000000,94.000000,304.000000

In [137]:
deliveries.drop(columns=['batting_team','bowling_team']).corr()

,match_id,innings_number,over_number,ball_number,total_runs,player_dismissed,current_score,balls_bowled,balls_left,wicket_fall,wicket_left,CRR,last_5,total_score
match_id,1.000000,NaN,-0.000288,0.004840,0.013822,0.001507,0.033605,-0.000033,0.000053,0.026080,-0.026080,0.072201,0.024382,0.077378
innings_number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
over_number,-0.000288,NaN,1.000000,0.004193,0.079366,0.073160,0.916236,0.998621,-0.998627,0.775997,-0.775997,0.194683,0.698875,0.052450
ball_number,0.004840,NaN,0.004193,1.000000,-0.000503,0.006526,0.057219,0.056693,-0.056535,0.040706,-0.040706,0.025492,0.010585,0.014356
total_runs,0.013822,NaN,0.079366,-0.000503,1.000000,-0.190599,0.142573,0.079213,-0.079194,-0.027928,0.027928,0.256852,0.144339,0.153403
player_dismissed,0.001507,NaN,0.073160,0.006526,-0.190599,1.000000,0.063421,0.073386,-0.073358,0.158191,-0.158191,-0.007341,0.023893,-0.050021
current_score,0.033605,NaN,0.916236,0.057219,0.142573,0.063421,1.000000,0.917775,-0.917749,0.591788,-0.591788,0.457069,0.778020,0.326247
balls_bowled,-0.000033,NaN,0.998621,0.056693,0.079213,0.073386,0.917775,1.000000,-0.999998,0.776893,-0.776893,0.195710,0.698312,0.053120
balls_left,0.000053,NaN,-0.998627,-0.056535,-0.079194,-0.073358,-0.917749,-0.999998,1.000000,-0.776881,0.776881,-0.195697,-0.698325,-0.053095
wicket_fall,0.026080,NaN,0.775997,0.040706,-0.027928,0.158191,0.591788,0.776893,-0.776881,1.000000,-1.000000,-0.073307,0.371196,-0.267433
wicket_left,-0.026080,NaN,-0.775997,-0.040706,0.027928,-0.158191,-0.591788,-0.776893,0.776881,-1.000000,1.000000,0.073307,-0.371196,0.267433
CRR,0.072201,NaN,0.194683,0.025492,0.256852,-0.007341,0.457069,0.195710,-0.195697,-0.073307,0.073307,1.000000,0.424473,0.540316
last_5,0.024382,NaN,0.698875,0.010585,0.144339,0.023893,0.778020,0.698312,-0.698325,0.371196,-0.371196,0.424473,1.000000,0.311043
total_score,0.077378,NaN,0.052450,0.014356,0.153403,-0.050021,0.326247,0.053120,-0.053095,-0.267433,0.267433,0.540316,0.311043,1.000000

In [138]:
deliveries.isnull().sum()

match_id            0
innings_number      0
batting_team        0
bowling_team        0
over_number         0
ball_number         0
total_runs          0
player_dismissed    0
current_score       0
balls_bowled        0
balls_left          0
wicket_fall         0
wicket_left         0
CRR                 0
last_5              0
total_score         0
dtype: int64

In [139]:
deliveries = deliveries[(deliveries['last_5'])!=0]
deliveries.dropna(inplace=True)

/tmp/ipython-input-2672048669.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries.dropna(inplace=True)

In [140]:
deliveries

,match_id,innings_number,batting_team,bowling_team,over_number,ball_number,total_runs,player_dismissed,current_score,balls_bowled,balls_left,wicket_fall,wicket_left,CRR,last_5,total_score
279,211028,1,England,Australia,5,1,1,0,44,31,89,1,9,8.516129,43.0,179
280,211028,1,England,Australia,5,2,0,0,44,32,88,1,9,8.250000,42.0,179
281,211028,1,England,Australia,5,3,4,0,48,33,87,1,9,8.727273,44.0,179
282,211028,1,England,Australia,5,4,1,0,49,34,86,1,9,8.647059,45.0,179
283,211028,1,England,Australia,5,5,0,1,49,35,85,2,8,8.400000,45.0,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701748,1514480,1,Sri Lanka,Pakistan,18,4,0,0,128,112,8,9,1,6.857143,40.0,128
701749,1514480,1,Sri Lanka,Pakistan,18,5,0,0,128,113,7,9,1,6.796460,40.0,128
701750,1514480,1,Sri Lanka,Pakistan,18,6,0,0,128,114,6,9,1,6.736842,38.0,128
701751,1514480,1,Sri Lanka,Pakistan,19,1,0,0,128,115,5,9,1,6.678261,34.0,128
701752,1514480,1,Sri Lanka,Pakistan,19,2,0,1,128,116,4,10,0,6.620690,30.0,128

In [141]:
deliveries.describe()

,match_id,innings_number,over_number,ball_number,total_runs,player_dismissed,current_score,balls_bowled,balls_left,wicket_fall,wicket_left,CRR,last_5,total_score
count,1.206770e+05,120677.0,120677.000000,120677.000000,120677.000000,120677.000000,120677.000000,120677.000000,120677.00000,120677.000000,120677.000000,120677.000000,120677.000000,120677.000000
mean,1.070679e+06,1.0,11.920068,3.626814,1.337388,0.058470,96.325563,75.147219,44.85646,3.424033,6.575967,7.635276,38.794087,160.731929
std,3.757152e+05,0.0,4.308794,1.814517,1.577151,0.234631,42.194145,25.942926,25.93646,2.029774,2.029774,1.825120,11.997695,34.914486
min,2.110280e+05,1.0,5.000000,1.000000,0.000000,0.000000,9.000000,31.000000,0.00000,0.000000,0.000000,1.741935,4.000000,38.000000
25%,7.426170e+05,1.0,8.000000,2.000000,0.000000,0.000000,63.000000,53.000000,23.00000,2.000000,5.000000,6.382979,30.000000,137.000000
50%,1.202244e+06,1.0,12.000000,4.000000,1.000000,0.000000,91.000000,75.000000,45.00000,3.000000,7.000000,7.544554,38.000000,160.000000
75%,1.355721e+06,1.0,16.000000,5.000000,1.000000,0.000000,125.000000,97.000000,67.00000,5.000000,8.000000,8.742857,46.000000,183.000000
max,1.514480e+06,1.0,19.000000,13.000000,7.000000,1.000000,304.000000,124.000000,89.00000,10.000000,10.000000,17.225806,94.000000,304.000000

In [142]:
deliveries.shape

(120677, 16)

In [143]:
deliveries = deliveries[['batting_team', 'bowling_team','current_score','balls_left','wicket_left', 'CRR', 'last_5', 'total_score']]

In [144]:
deliveries

,batting_team,bowling_team,current_score,balls_left,wicket_left,CRR,last_5,total_score
279,England,Australia,44,89,9,8.516129,43.0,179
280,England,Australia,44,88,9,8.250000,42.0,179
281,England,Australia,48,87,9,8.727273,44.0,179
282,England,Australia,49,86,9,8.647059,45.0,179
283,England,Australia,49,85,8,8.400000,45.0,179
...,...,...,...,...,...,...,...,...
701748,Sri Lanka,Pakistan,128,8,1,6.857143,40.0,128
701749,Sri Lanka,Pakistan,128,7,1,6.796460,40.0,128
701750,Sri Lanka,Pakistan,128,6,1,6.736842,38.0,128
701751,Sri Lanka,Pakistan,128,5,1,6.678261,34.0,128
701752,Sri Lanka,Pakistan,128,4,0,6.620690,30.0,128

In [145]:
final_df = deliveries.sample(deliveries.shape[0])

In [146]:
final_df.drop(columns=['batting_team', 'bowling_team']).corr()

,current_score,balls_left,wicket_left,CRR,last_5,total_score
current_score,1.000000,-0.841958,-0.354637,0.577448,0.528714,0.474075
balls_left,-0.841958,1.000000,0.661452,-0.088304,-0.164436,-0.048501
wicket_left,-0.354637,0.661452,1.000000,0.302507,0.255234,0.380740
CRR,0.577448,-0.088304,0.302507,1.000000,0.777847,0.789442
last_5,0.528714,-0.164436,0.255234,0.777847,1.000000,0.640929
total_score,0.474075,-0.048501,0.380740,0.789442,0.640929,1.000000

In [147]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import Ridge

In [148]:
x = final_df.drop(columns=['total_score'])
y = final_df['total_score']

In [149]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=1)

In [150]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team']),
    ('scaling', StandardScaler(), ['current_score', 'balls_left', 'CRR', 'last_5', 'wicket_left'])],
                        remainder='passthrough')

In [151]:
pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', XGBRegressor(learning_rate= 0.1, max_depth= 7, n_estimators= 500, subsample=0.8))
])

In [152]:
pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)

In [153]:
print(r2_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

0.8892643451690674
7.9198808670043945

In [154]:
pipe.predict(pd.DataFrame([['India','Australia',51,60,6,5.1,1]], columns=['batting_team','bowling_team','current_score','balls_left','wicket_left','CRR','last_5']))

array([121.73025], dtype=float32)

In [ ]:
param_grid = {
    'step2__n_estimators': [100, 200, 500],
    'step2__max_depth': [3, 5, 7],
    'step2__learning_rate': [0.01, 0.05, 0.1],
    'step2__subsample': [0.7, 0.8, 1]
}


grid = GridSearchCV(
    estimator=pipe,
    param_grid=param_grid,
    scoring='r2',     # maximize R2
    cv=5,
    n_jobs=-1
)

grid.fit(x_train, y_train)S

In [ ]:
grid.best_params_

In [ ]:
grid.best_score_

In [156]:
import pickle

In [158]:
pickle.dump(pipe, open('model.pkl', 'wb'))

In [ ]:
# model_lr = Pipeline([
#     ('trf', trf),
#     ('model', Ridge(alpha=1.0))
# ])

# model_rf = Pipeline([
#     ('trf', trf),
#     ('model', RandomForestRegressor(
#         n_estimators=300,
#         max_depth=12,
#         random_state=42
#     ))
# ])

# model_xgb = Pipeline([
#     ('trf', trf),
#     ('model', XGBRegressor(
#         n_estimators=500,
#         max_depth=7,
#         learning_rate=0.05,
#         subsample=0.8,
#         colsample_bytree=0.8,
#         random_state=42
#     ))
# ])

In [ ]:
# stack_model = StackingRegressor(
#     estimators=[
#         ('lr', model_lr),
#         ('rf', model_rf),
#         ('xgb', model_xgb)
#     ],
#     final_estimator=Ridge(alpha=0.5),
#     passthrough=False,   # only base predictions
#     n_jobs=-1
# )

In [ ]:
# stack_model.fit(x_train, y_train)

/usr/local/lib/python3.12/dist-packages/sklearn/compose/_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

StackingRegressor(estimators=[('lr',
                               Pipeline(steps=[('trf',
                                                ColumnTransformer(remainder='passthrough',
                                                                  transformers=[('trf',
                                                                                 OneHotEncoder(drop='first',
                                                                                               sparse_output=False),
                                                                                 ['batting_team',
                                                                                  'bowling_team'])])),
                                               ('model', Ridge())])),
                              ('rf',
                               Pipeline(steps=[('trf',
                                                ColumnTransformer(remainder='passthrough',
                                                                  transformers=[('trf',
                                                                                 OneHotEncoder(drop='first',
                                                                                               spar...
                                                             importance_type=None,
                                                             interaction_constraints=None,
                                                             learning_rate=0.05,
                                                             max_bin=None,
                                                             max_cat_threshold=None,
                                                             max_cat_to_onehot=None,
                                                             max_delta_step=None,
                                                             max_depth=7,
                                                             max_leaves=None,
                                                             min_child_weight=None,
                                                             missing=nan,
                                                             monotone_constraints=None,
                                                             multi_strategy=None,
                                                             n_estimators=500,
                                                             n_jobs=None,
                                                             num_parallel_tree=None, ...))]))],
                  final_estimator=Ridge(alpha=0.5), n_jobs=-1)

In [ ]:
# r2_score(y_test, stack_model.predict(x_test))

0.8675790624706784